@import url('https://fonts.googleapis.com/css?family=Nunito:300,300i,800');

body, h1, h2, .rst-content .toctree-wrapper p.caption, h3, h4, h5, h6, legend {
	font-family: 'Nunito', sans-serif;
}

.wy-side-nav-search {
	background-color: transparent;
}

.wy-nav-content {
	max-width: 1000px;
}
